.world, .high, .change, .surprize {
    background: url(../img/sprite.png) no-repeat;
}

.world {
    background-position: 5px 20px;
}

.high {
    background-position: 5px -60px;
}

.change {
    background-position: 5px -125px;
}

.surprize {
    background-position: 5px -200px;
}