h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin: 0;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    margin: 0;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.price {
    color: red;
    font-weight: 700;
    font-size: 26px;
}

.price .old {
    color: gray;
    font-size: 24px;
    text-decoration: line-through;
    padding-right: 10px;
}

.order {
    text-align: center;
}

.order .btn {
    background: green;
    color: white;
    font-size: 22px;
}

header .head, #desktop_1, #desktop_3, #desktop_5 {
    background: url(../img/head.jpg);
}

header .head, #desktop_1 h6 {
  text-transform: uppercase;
}

header .head .container {
    padding: 13px 0;
}

header .head .logo {
    position: relative;
}

header .head .logo img {
    position: absolute;
    top: -15px;
}

header .banner {
    background: url(../img/banner.jpg) no-repeat center top;
}

header .banner ul {
    padding: 0px;
    margin: 0px;
    max-width: 346px;
}

header .banner ul li {
    list-style-type: none;
    padding: 25px 0 0 65px;
    color: white;
    font-weight: 500;
    font-size: 20px;
}

header .banner ul li.button {
    padding: 10px 0;
    text-align: center;
}

header .banner ul li.button a.btn {
    background-color: red;
    color: white;
    font-size: 25px;
    font-weight: 700;
    padding: 1rem 1.9rem;
    border-radius: 15px;
    border-bottom: 5px solid #860606;
}

header .banner ul li.button a.btn:hover {
    opacity: .9;
}

section h2 {
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}

#desktop_1 p {
  text-align: justify;
}

#desktop_2 .title {
    background: #3b5db7;
    text-align: center;
    color: white;
}

#desktop_2 .catalog .tabs {
    display: flex;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 30px 0;
}

#desktop_2 .catalog .tabs .size {
    font-weight: 700;
    margin: 0;
}

#desktop_2 .catalog .tabs label {
    padding: 0 0 0 110px;
    margin : 0;
}

#desktop_2 .catalog .tabs input[type="radio"] {
    display: none;
}

#desktop_2 .catalog .item {
    border: 1px solid black;
    border-radius: 10px;
    max-width: 280px;
    margin: 20px;
}

#desktop_2 .catalog .item .sell {
    text-align: center;
    color: red;
    font-size: 18px;
    padding: 10px 0;
    margin-bottom: 0px;
    font-weight: 500;
}

#desktop_2 .catalog .item .image img {
    width: 100%;
}

#desktop_2 .catalog .item .name {
    text-align: center;
    font-size: 18px;
}

#desktop_2 .catalog .item .name span {
    color: red;
    font-weight: 500;
}

#desktop_2 .catalog .item .remain {
    text-align: center;
}

#desktop_2 .catalog .item .remain .word1 {
    background: url(../img/glass.png) no-repeat left center;
    padding-left: 35px;
}

#desktop_2 .catalog .item .remain .word2 {
    font-size: 130%;
    font-weight: 700;
}

#desktop_3 h3 {
    text-align: center;
}

#desktop_3 p {
    text-align: center;
}

#desktop_3 .title {
    font-weight: 700;
}

#desktop_4 h2, #desktop_6 h2 {
    color: white;
}

#desktop_4 {
    background: url(../img/otzivi.jpg) no-repeat;
}

#desktop_4 img {
    width: 100%;
}

#desktop_5 h3 span {
    color: red;
}

#desktop_6 {
    background: url(../img/otzivi.jpg) no-repeat;
    color: white;
}

footer {
    background: url(../img/footer.jpg) no-repeat center #f7f9f8;
}

footer form {
    text-align: center;
    background: rgb(201, 202, 202) none repeat scroll 0% 0%;
    border-radius: 15px;
}

footer form .fields input {
    width: 80%;
    padding: 10px;
    border: 0;
    margin-bottom: 15px;
    text-align: center;
}

footer form p:nth-of-type(5) {
    font-style: italic;
    color: gray;
}

footer .content h2 span {
    color: red;
}

footer .content p {
    padding-top: 17rem;
    color: #bb2727;
    text-align: center;
}